/* ALL */

img {
    max-width: 100%;
}

/* ----------------------------------------------------- */


/* HEADER */

    /* Header head */

header {
    width: 100%;
    z-index: 1;
}

.header-upper img {
    height: 1rem;
}

    /* Header nav */

header .navbar-nav {
    width: 100%;
}

.chevron {
    height: 1rem;
    display: none;
}

.search {
    height: 1.5rem;
}

/* MAIN */

    /* Main jumbotron */

.jumbotron,
.takes-jumbotron {
    padding-top: 6rem;
}

.jumbotron .jumbo-row-1 {
    height: 80vh;
}

.container-bg {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
}

    /* Main other */

.returnal-logo,
.takes-logo {
    width: 50%;
}

.takes-jumbotron {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
}

.selection-border {
    padding: .1rem;
    border: 1px solid var(--blue);
}

.product-selected {
    content: " ";
    width: 90%;
    border-bottom: 2px solid var(--blue);
}

.plus .plus-logo img,
.now .now-logo img {
    width: 70%;
}

/* Footer */

.globe-img img {
    height: 1rem;
}

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: currentColor;
}

.footer-logo img {
    height: 3rem;
}

/* ----------------------------------------------------- */


/* MQ Main - plus/now */

.plus .md-show,
.now .md-show {
    display: none;
}

@media screen and (min-width: 768px) {
    
    .plus .md-show,
    .now .md-show {
        display: block;
    }
}

@media screen and (min-width: 992px) {

    .chevron {
        display: block;
    }
}

/* ----------------------------------------------------- */


/* COLORS AND BACKGROUNDS */

:root {
    --black: #333333;
    --white: #ffffff;
    --red: #cd3d0f;
    --blue: #2d64e6;
    --grey: #bebcbb;
    --lightgrey: #d9dadc;
    --darkblue: #161c3b;
    --blue-footer: #00439c;
}

.bg-b {
    background-color: var(--black);
}

.c-b {
    color: var(--black);
}

.bg-w {
    background-color: var(--white);
}

.c-w {
    color: var(--white);
}

.bg-r {
    background-color: var(--red);
}

.bg-bl {
 background-color: var(--blue);
}

.c-bl {
    color: var(--blue);
}

.bg-g {
    background-color: var(--grey);
}

.bg-lg {
    background-color: var(--lightgrey);
}

.bg-db {
    background-color: var(--darkblue);
}

.bg-bf {
    background-color: var(--blue-footer);
}