/* DEBUG */

.debug {
    background-color: wheat;
    border: 1px dotted black;
    height: 5rem;
}

.future-img {
    background-color: brown;
    height: 10rem;
}

.future-img-2 {
    background-color: yellow;
    height: 10rem;
    border: 1px solid black;
}

/* --------------------------------------------------- */

/* HEADER */

    /* Header head */

header {
    width: 100%;
    z-index: 1;
}

header .header-upper {
    height: 2rem;
}

    /* Header nav */

header .header-main {
    height: 4rem;
}

header .navbar-nav {
    width: 100%;
}

/* MAIN */

    /* Main jumbotron */

.jumbotron,
.takes {
    background-color: yellowgreen;

    padding-top: 6rem;
}

.jumbotron .jumbo-row-1 {
    background-color: aquamarine;
    height: 80vh;
}

.jumbo-row-2 [class*="col-"] {
    height: 3rem;
    
    background-color: gold;
    border: 1px solid black;
}

/* Main - plus */

.plus .md-show,
.now .md-show {
    display: none;
}

@media screen and (min-width: 768px) {
    .plus .md-show,
    .now .md-show {
        display: block;
    }
    
}